body {
  font-family: Tahoma, Geneva, sans-serif;
}

.column-left {
  background-color: #262626;
  /* height: 100vh; */
  position: relative;
}

.column-right {
  background-color: #f0f2f2;
}

.fixed {
   position: fixed;
   padding-left: 70px;
   padding-top: 200px;
   text-transform: uppercase;
}

.profile-image {
  width: 200px;
  margin-bottom: 20px;
}

h1 {
  color: #4E878C;
}

.fixed p {
  color: #4E878C;
}

hr {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 30px;
}

.favicons i {
  color: #4E878C;
  padding-right: 5px;
}
