/* ----------------------------------------- */
/* Base Styles */
body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
}

.fixed h1 {
  color: #4E878C;
}

.fixed p {
  color: #4E878C;
}

/* ----------------------------------------- */
/* Column Styles */
.column-left {
  background-color: #262626;
  position: relative;
}

.column-right {
  background-color: #f0f2f2;
}

.fixed {
  left: 2%;
  position: fixed;
  text-transform: uppercase;
  top: 20%;
}

.col-md-4 {
  min-height: 700px;
}

.profile-image {
  margin-bottom: 20px;
  width: 200px;
}

hr {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 30px;
}

.favicons i {
  color: #4E878C;
  padding-right: 5px;
}

/* ----------------------------------------- */
/* Floats */
.first-image {
  margin-right: 13px;
}

/* ----------------------------------------- */
/* Right Box Styles */
/* Box 1 */
.box-1, .box-2, .box-3, .box-4{
  border: #4E878C 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.name-top {
  padding-top: 10px;
}
